<!DOCTYPE html>
<html>
<head>
  <title></title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container"><br>
    <h3 class="text-success text-center"> User Register Form </h3><br>
    <div class="col-lg-8 m-auto d-block">
      <form action="#" onsubmit="return validation()" class="bg-light">

        <div class="form-group">
          <label> Firstname: </label>
          <input type="text" name="firstname" class="form-control" id="firstname" autocomplete="off">
          <span id="firstname_error_message" class="text-danger font-weigth-bold" ></span>
        </div>

        <div class="form-group">
          <label> Lastname: </label>
          <input type="text" name="lastname" class="form-control" id="lastname" autocomplete="off">
          <span id="lastname_error_message" class="text-danger font-weigth-bold" ></span>
        </div>

        <div class="form-group">
          <label> Email: </label>
          <input type="text" name="email" class="form-control" id="email" autocomplete="off">
          <span id="email_error_message" class="text-danger font-weigth-bold" ></span>
        </div>

        <div class="form-group">
          <label> Password: </label>
          <input type="text" name="password" class="form-control" id="password" autocomplete="off">
          <span id="password_error_message" class="text-danger font-weigth-bold" ></span>
        </div>

        <div class="form-group">
          <label> Conform Password: </label>
          <input type="text" name="conformpassword" class="form-control" id="conformpassword" autocomplete="off">
          <span id="conformpassword_error_message" class="text-danger font-weigth-bold" ></span>
        </div>

        <div class="form-group">
          <label> Mobile Number: </label>
          <input type="text" name="contact" class="form-control" id="contact" autocomplete="off">
          <span id="mobilenumber_error_message" class="text-danger font-weigth-bold" ></span>
        </div>

        <div class="form-group">
          <label> Payment: </label>
          <input type="text" name="paid" class="form-control" id="paid" autocomplete="off">
          <span id="payment_error_message" class="text-danger font-weigth-bold" ></span>
        </div>

        <div class="form-group">
          <label> Address: </label>
          <input type="text" name="address" class="form-control" id="address" autocomplete="off">
          <span id="address_error_message" class="text-danger font-weigth-bold" ></span>
        </div>

        <input type="submit" name="submit" value="submit" class="btn btn-success">             

      </form>
    </div>
  </div>


  <script type="text/javascript">
    
    function validation(){
      var firstname = document.getElementById('firstname').value;
      var lastname = document.getElementById('lastname').value;
      var email = document.getElementById('email').value;
      var password = document.getElementById('password').value;
      var conformpassword = document.getElementById('conformpassword').value;
      var contact = document.getElementById('contact').value;
      var paid = document.getElementById('paid').value;
      var address = document.getElementById('address').value;




      if(firstname == ""){
        document.getElementById('firstname_error_message').innerHTML = " ** Please fill the first name field";
        return false;
      }

      if(lastname == ""){
        document.getElementById('lastname_error_message').innerHTML = " ** Please fill the last name field";
        return false;
      }

      if(email == ""){
        document.getElementById('email_error_message').innerHTML = " ** Please fill the email field";
        return false;
      }

      if(password == ""){
        document.getElementById('password_error_message').innerHTML = " ** Please fill the password field";
        return false;
      }

      if(conformpassword == ""){
        document.getElementById('conformpassword_error_message').innerHTML = " ** Please fill the conform password field";
        return false;
      }

      if(contact == ""){
        document.getElementById('mobilenumber_error_message').innerHTML = " ** Please fill the mobile number field";
        return false;
      }

      if(paid == ""){
        document.getElementById('payment_error_message').innerHTML = " ** Please fill the paid field";
        return false;
      }

      if(address == ""){
        document.getElementById('address_error_message').innerHTML = " ** Please fill the address field";
        return false;
      }
    }


  </script>

</body>
</html>