  <div class="container"><br>
    <h3 class="text-success text-center"> User Register Form </h3><br>
    <div class="col-lg-8 m-auto d-block">
      <form action="/users" accept-charset="UTF-8" method="post" onclick="return validation()" class="bg-light">

        <div class="form-group">
          <label> Firstname: </label>
          <input type="text" name="user[firstname]" class="form-control" id="firstname" autocomplete="off" placeholder="Firstname" onkeyup="validate(this)">
          <span id="firstname_error_message" class=" font-weigth-bold" ></span><br>
          <span id="firstname_error_messageone" class="text-danger font-weigth-bold" ></span>
        </div>

        <div class="form-group">
          <label> Lastname: </label>
          <input type="text" name="user[lastname]" class="form-control" id="lastname" autocomplete="off" placeholder="Lastname">
          <span id="lastname_error_message" class="text-danger font-weigth-bold" ></span><br>
          <span id="lastname_error_messageone" class="text-danger font-weigth-bold" ></span>
        </div>

        <div class="form-group">
          <label> Email: </label>
          <input type="text" name="user[email]" class="form-control" id="email" autocomplete="off" placeholder="abc@gmail.com">
          <span id="email_error_message" class="text-danger font-weigth-bold" ></span><br>
          <span id="email_error_messageone" class="text-danger font-weigth-bold" ></span><br>
          <span id="email_error_messagetwo" class="text-danger font-weigth-bold" ></span>
        </div>

        <div class="form-group">
          <label> Password: </label>
          <input type="text" name="user[password]" class="form-control" id="password" autocomplete="off" placeholder="Password">
          <span id="password_error_message" class="text-danger font-weigth-bold" ></span><br>
          <span id="password_error_messageone" class="text-danger font-weigth-bold" ></span>
        </div>

        <div class="form-group">
          <label> Conform Password: </label>
          <input type="text" name="user[conformpassword]" class="form-control" id="conformpassword" autocomplete="off" placeholder="Conform Password">
          <span id="conformpassword_error_message" class="text-danger font-weigth-bold" ></span><br>
          <span id="conformpassword_error_messageone" class="text-danger font-weigth-bold" ></span>
        </div>

        <div class="form-group">
          <label> Mobile Number: </label>
          <input type="text" name="user[contact]" class="form-control" id="contact" autocomplete="off" placeholder="Mobile Number">
          <span id="mobilenumber_error_message" class="text-danger font-weigth-bold" ></span><br>
          <span id="mobilenumber_error_messageone" class="text-danger font-weigth-bold" ></span><br>
          <span id="mobilenumber_error_messagetwo" class="text-danger font-weigth-bold" ></span>
        </div>

        <!-- <div class="form-group">
          <label> Payment: </label>
          <input type="text" name="user[paid]" class="form-control" id="paid" autocomplete="off" placeholder="Yes/No">
          <span id="payment_error_message" class="text-danger font-weigth-bold" ></span>
        </div> -->

        <div class="form-group">
          <label>Payment: </label>
          <select name="user[paid]" class="form-contro" id="paid" placeholder="Select" >
            <option value="">--select--</option>
            <option value="Yes"> Yes </option>
            <option value="No"> No </option>
          </select>
          <span id="payment_error_message" class="text-danger font-weigth-bold" ></span>
        </div>

        <div class="form-group">
          <label> Address: </label>
          <textarea type="textarea" name="user[address]" class="form-control" id="address" autocomplete="off" placeholder="Optional">
          </textarea>
          <span id="address_error_message" class="text-dark font-weigth-bold" style="background-color: lightblue" >Optional</span>
        </div>

        <input type="submit" name="submit" value="submit" class="btn btn-success">
        <!-- <input type="reset" name="reset" value="reset" class="btn btn-success"> -->

      </form>
    </div>
  </div>


  <script type="text/javascript">

    function validate(obj){
      switch(obj.id){
        case "firstname":
        if (obj.value === "") {
          //show validation message
        document.getElementById('firstname_error_message').innerHTML = " ** Please fill the first name field";
        document.getElementById('firstname_error_message').style.color = "red";

        } else {
          document.getElementById('firstname_error_message').style.color = "green";
        document.getElementById('firstname_error_message').innerHTML = "First name is fine";
        

      }
        break;

        case "lastname":
        //todo
        break;
      }
    }
    
    function validation(){
      var firstname = document.getElementById('firstname').value;
      var lastname = document.getElementById('lastname').value;
      var email = document.getElementById('email').value;
      var password = document.getElementById('password').value;
      var conformpassword = document.getElementById('conformpassword').value;
      var contact = document.getElementById('contact').value;
      var paid = document.getElementById('paid').value;
      var address = document.getElementById('address').value;
      var letters = /^[A-Za-z]+$/;



      if(firstname == ""){
        document.getElementById('firstname_error_message').style.color = "red";
        document.getElementById('firstname_error_message').innerHTML = " ** Please fill the first name field";
        return false;
      }

      if(!firstname.match(letters)){
        document.getElementById('firstname_error_messageone').innerHTML = " ** Only characters are allowed";
        return false;
      }

      if(lastname == ""){
        document.getElementById('lastname_error_message').innerHTML = " ** Please fill the last name field";
        return false;
      }

      if(!lastname.match(letters)){
        document.getElementById('lastname_error_messageone').innerHTML = " ** Only characters are allowed";
        return false;
      }

      if(email == ""){
        document.getElementById('email_error_message').innerHTML = " ** Please fill the email field";
        return false;
      }

      if(email.indexOf('@') <= 0){
        document.getElementById('email_error_messageone').innerHTML = " ** @ invalid position";
        return false;
      }

      if((email.charAt(email.length-4)!='.') && (email.charAt(email.length-3)!='.')){
        document.getElementById('email_error_messagetwo').innerHTML = " ** . invalid position";
        return false;
      }

      if(password == ""){
        document.getElementById('password_error_message').innerHTML = " ** Please fill the password field";
        return false;
      }

      if((password.length < 8) || (password.length > 20)){
        document.getElementById('password_error_messageone').innerHTML = " ** Password length must be between 8 and 20";
        return false;
      }

      if(password != conformpassword){
        document.getElementById('conformpassword_error_message').innerHTML = " ** Password are not matching";
        return false;
      }

      if(conformpassword == ""){
        document.getElementById('conformpassword_error_messageone').innerHTML = " ** Please fill the conform password field";
        return false;
      }


      if(contact == ""){
        document.getElementById('mobilenumber_error_message').innerHTML = " ** Please fill the mobile number field";
        return false;
      }

      if(isNaN(contact)){
        document.getElementById('mobilenumber_error_messageone').innerHTML = " ** User must write digits only not characters";
        return false;
      }

      if(contact.length != 10){
        document.getElementById('mobilenumber_error_messagetwo').innerHTML = " ** Mobile number must be 10 digits only";
        return false;
      }

      if(paid == ""){
        document.getElementById('payment_error_message').innerHTML = " ** Please select the payment field";
        return false;
      }

      // if(address == ""){
      //   document.getElementById('address_error_message').innerHTML = " ** Please fill the address field";
      //   return false;
      // }
    }


  </script>
