<h3>Create User Information</h3>

<%= render 'form' %>

<div class="link_style">
  <%= link_to 'Back', root_path %>
</div>

<style type="text/css">
  .link_style {
  background-color: #ccffff;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: white;
}
</style>