<p>
  <strong> Name: </strong>
  <%= @user.name %>
</p>

<p>
  <strong> Contact: </strong>
  <%= @user.contact %>
</p>

<p>
	<strong> Payment: </strong>
	<%= @user.paid %>
</p>

<p>
	<strong> Address: </strong>
	<%= @user.address %>
</p>