<h4><b>User Managment</b></h4>
<div class="link_style">
  <%= link_to 'New User', new_admin_user_path %><br>
</div>

<div class="link_style">
  <%= link_to 'Show Users', admin_users_path %>
</div><br><br>

<h4><b>Post Managment</b></h4>
<div class="link_style">
  <%= link_to 'New Post', new_admin_post_path %><br>
</div>

<div class="link_style">
  <%= link_to 'Show Posts', admin_posts_path %>
</div>


<style type="text/css">
  .link_style {
  background-color: #ccffff;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: white;
}
</style>