<br><h4 style="text-align: center"><b> Listing Pictures </b></h4><br><br>



<div id="pictures-list">
  <%= render 'pictures'%>
</div>

<script>
  $(function(){
  $('.pagination a').attr('data-remote', 'true')
});
</script>
