<h1>Products</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Active</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody id="products-list">
    <%= render partial: 'products' %>
  </tbody>
</table>
