    .container-fluid{
      background-color: black;
    }

    .form-control{
      background: #c2c2d6;
      /*background-image: url("car.jpg");*/
    }

    .form-controll{
      position: absolute;
      right: 0;
      margin: 20px;
      /*max-width: 300px;*/
      width: 40%;
      padding: 16px;
      background-color: white;
    }

    .bg-img{
      /*background: #00ff99;  */
      background-image: url("natural.png");
      min-height: 1000px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }

    .btn {
      background-color: #4CAF50;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
}
