<center style="color: black; background-color: #3399ff"><b>Create User Information</b></center>
<div class="container">
  <h3 style="color: white"><b>User Register Form</b></h3><br>
  <div class="bg-img">
  	<%= form_with(model: @user, local: true, url: admin_users_path, class: "form-controll") do |form| %>
  	  <%= render 'form', user: @user, form: form %>
  	<% end %>
  </div>
</div>