<center style="color: black; background-color: #3399ff;"><b>Edit Post Information</b></center>
<div class="container">
  <h3 style="color: white"><b>User's Post Form</b></h3><br>
  <div class="bg-img">
  	<%= form_with(model: @post, local: true, url: "/admin/posts/#{@post.id}", class: "form-controll") do |form| %>
  	  <%= render 'form', post: @post, form: form %>
  	<% end %>
  </div>
</div>